<% evil_string = "<script>alert('Gotcha!');</script>".html_safe %>
<% good_string = "<strong>Welcome to my site!</strong>".html_safe  %>

<%# raw(evil_string) %>
<%# raw(good_string) %>

<%# evil_string.html_safe? %>
<%# good_string.html_safe? %>

<%# evil_string %>
<%# good_string %>

<hr/>
<% simple_string = '<strong>Please</strong> visit <a href="http://exmple.com">us</a>' %>

<%= strip_links(simple_string) %>
<%= strip_tags(simple_string) %>

<hr/>

<%= sanitize(evil_string)%><br/><br/>
<%= sanitize(simple_string)%><br/><br/>
<%= sanitize(simple_string, :tags =>['strong','em','a'])%><br/><br/>